.intro__span-accent {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 600px){
  .intro__span-accent {
    margin: 0;
    max-width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }
}