.cover__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  max-width: 360px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  z-index: 4;
}

@media screen and (max-width:900px){
  .cover__subtitle {
    padding-bottom: 52px;
    }
}

@media screen and (max-width:600px){
  .cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    }
}