.header__logo {
  margin: 0;
  margin-left: 48px;
  margin-top: 28px;
  min-width: 176px;
  min-height: 52px;
  justify-content: stretch;

}

@media screen and (max-width: 900px){
  .header__logo {
 margin-left: 24px;

  }
}



@media screen and (max-width: 767px){
.header__logo {
margin: 0;
margin-right: 82px;
    min-width: 142px;
    min-height: 42px;
}
}