.footer__link {
  margin: 0;
  font-size: 16px;
  margin-right: 19px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.5;
  transition: opacity 1s linear 0.5s;

}

.footer__link:link {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;

}

.footer__link:visited {
  color: #ffffff;
}