.lead__image {
  margin: 0;
  max-width: 984px;
  
}

@media screen and (max-width:1160px){
  .lead__image{
    max-width: 928px;
    }
 }


 @media screen and (max-width:800px){
  .lead__image {
    margin: 0;
    max-width: 800px;
    
  }

 @media screen and (max-width: 450px){
   .lead__image{
    width: 100%;
   }
 
 }
 }