.cover {
  position: relative;
  max-width: calc(100% - 48px * 2);
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 92px;
}

.cover:hover .cover__overlay {
  opacity: 0.9;
}

@media screen and (max-width:1160px){
  .cover{
    max-width: 100%;
    margin-top: 74px;
  }
    }

    
    @media screen and (max-width: 600px){
      .cover__link {
margin-top: 41px;
      }
    }