.place__link {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 1s linear 0.5s;

}


@media screen and (max-width: 600px){
  .place__link {
    margin-top: 12px;
    
  }
}