.place__link {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.place__link:hover {
  opacity: 0.5;
  transition: opacity 1s linear 0.5s;

}

.place__link:link {
  color: #ffffff;
}

.place__link:visited {
  color: #ffffff;
}

@media screen and (max-width: 600px){
  .place__link {
    margin-top: 12px;
    
  }
}