.footer__links-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px){
  .footer__links-list {
    flex-direction: column;
    width: 100%;
  }
}