.place {
  max-width: calc(100% - 148px * 2);
  margin: 0 auto;
  margin-top: 81px;
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  grid-template-areas:
      "title website"
      "image paragraph";
      row-gap: 48px;
}

@media screen and (max-width: 1100px){
  .place {
    max-width: 100%;
    margin: 0;
    margin-top: 81px;
    gap: 48px 28px;
    grid-template-columns: 440px 1fr;
}
  }





@media screen and (max-width:900px){
  .place{
    grid-template-columns: 340px 352px;
  }
  .place:nth-child(n+2){
    margin-top: 67px;
}
}
@media screen and (max-width: 600px){
  .place{
    padding: 0;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-items: center;
    line-height: 1.63;
    gap: 32px 29px;
  }

  .place:nth-child(n+2){
    margin-top: 68px;
  }

  .place:nth-child(n+3){
    margin-top: 43px;
  }
  .place:nth-child(n+4){
    margin-top: 41px; 
  }

  .place:nth-child(n+5){
    margin-top: 44px;
  }

  }

