.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  padding: 92px 0 24px;
  max-width: calc(100% - 48px * 2);
}

@media screen and (max-width: 900px){
  .footer {
    padding: 88px 0 24px;
    
    margin-left: 24px;

   }
}

@media screen and (max-width: 767px){
  .footer {
    margin: 0;
    padding-top: 33px;
    padding-left: 16px;
    flex-direction: column;
    width: 100%;
  }
}