.header__lang-links {
  margin: 0;
   display: flex;
   justify-content: end;
   height: 100px;
   width: 200px;
   margin-right: 48px;
   color: #ffffff;

}

@media screen and (max-width:800px){
  .header__lang-links {
    margin-right: 24px;
  }
}