.header__lang-links {
  margin: 0;
   display: flex;
   justify-content: end;
   align-items: end;
   height: 100px;
   width: 200px;
   margin-right: 46px;
   color: #ffffff;

}

@media screen and (max-width:900px){
  .header__lang-links {
    margin-right: 22px;
  }
}

@media screen and (max-width:600px){
  .header__lang-links {
    margin-right: 16px;
  }
}

