.place__paragraph-text {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29.34px;
}

.place__paragraph-text:last-child {
margin-top: 27px;
}
@media screen and (max-width: 1100px){
  .place__paragraph-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.65;
  }
  }


